
build
js-poc
node_modules
test

.DS_Store
.gitattributes
package-lock.json
Hardhat/.env
Hardhat/artifacts/build-info/1dd9f419e12eb4a530d1b0eebdca5150.json
Hardhat/artifacts/build-info/58a07214e28226ce494eb27ae9feff5f.json
Hardhat/artifacts/build-info/c49244af2fc2ff6bfb4fb51b876265a7.json
Hardhat/artifacts/contracts/Notarization.sol/Notarization.dbg.json
Hardhat/artifacts/contracts/Notarization.sol/Notarization.json
Hardhat/artifacts/contracts/SchoolCertificate.sol/SchoolCertificate.dbg.json
Hardhat/artifacts/contracts/SchoolCertificate.sol/SchoolCertificate.json
Hardhat/artifacts/contracts/SchoolGrades.sol/SchoolGrades.dbg.json
Hardhat/artifacts/contracts/SchoolGrades.sol/SchoolGrades.json
Hardhat/cache/solidity-files-cache.json
Hardhat/typechain/hardhat.d.ts
Hardhat/typechain/index.ts
Hardhat/typechain/Notarization.d.ts
Hardhat/typechain/SchoolCertificate.d.ts
Hardhat/typechain/SchoolGrades.d.ts
Hardhat/typechain/factories/Notarization__factory.ts
Hardhat/typechain/factories/SchoolCertificate__factory.ts
Hardhat/typechain/factories/SchoolGrades__factory.ts
